.home-main-section {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    justify-content: space-between;
}

.home-main-section .img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    flex-grow: 1;
}

.home-main-section .lady-image {
    background-image: url("images/landing-page-girl.png");
    flex-grow: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    max-height: 70vh;
    min-width: 30vw;
}

.home-main-section .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    margin: 1rem;
}

@media (max-width: 900px) {
    .home-main-section .img-wrapper {
        display: none;
    }

    .home-main-section {
        justify-content: center;
    }
}

.home-page-circle-1 {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-color: rgba(188, 58, 128, .1);
    bottom: 5vw;
    left: 5vw;
    position: absolute;
    z-index: -1;
}

.home-page-circle-2 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-color: rgba(52, 87, 178, .1);
    top: 15vh;
    left: 30vw;
    z-index: -1;
}

.home-page-circle-3 {
    position: absolute;
    overflow: hidden;
    width: 45vw;
    height: 45vw;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

.home-page-circle-3::before {
    content: '';
    transform: translate(40%, 40%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgb(52, 87, 178, .1);
  }
  