@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: white;
    background-color: #2F303A;
    font-size: 1.2rem;
    font-family: Poppins, sans-serif;
}

.brand-logo {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: 1.25em;
    text-decoration: none;
}

.brand-logo-name {
    margin-left: 1rem;
}

.main-nav ul, .footer-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav a, .footer-nav a {
    text-decoration: none;
    color: inherit;
    padding: 1rem;
}

.main-nav a:hover, .footer-nav a:hover {
    color: #adadad;
}

.main-header, .main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header {
    height: 140px;
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
}

.main-footer {
    height: 70px;
    background-color: #202027;
    font-weight: bold;
}

.social-links img {
    width: 1em;
    margin-right: .25rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    flex-grow: 1;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 3em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 2rem;
}

.btn {
    color: white;
    background-color: #1762A7;
    padding: .75rem 1rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #2180d8;
  }
  
  .btn:focus {
    background-color: #2796ff;
  }